root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.cs]
indent_style = space
indent_size = 4
dotnet_naming_rule.private_fields_should_have_m_prefix.severity = suggestion
dotnet_naming_rule.private_fields_should_have_m_prefix.symbols = private_fields
dotnet_naming_rule.private_fields_should_have_m_prefix.style = m_prefix_style
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.m_prefix_style.required_prefix = m_
dotnet_naming_style.m_prefix_style.capitalization = pascal_case

[*.{csproj,props,targets}]
indent_style = space
indent_size = 2

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2
